@tailwind base;
@tailwind components;
@tailwind utilities;

.form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control
{
  position: relative;
  width: 100%;
  background: #041e6c;
  border: none;
  outline: none;
  padding: 1px 10px 5px;
  border-radius: 1px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}